
*{
  margin: 0;
  padding: 0;
  
  }
  
  body{
    background-color: #fffdcd;
    background-color: black;
    
  }
  
  .App {
    text-align: center;
    display: flex;
    flex-direction:column;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
  }
  
  
  .App-header {
    width: 100vw;
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: whitesmoke;
  }
  
  header{
    width: 100vw;
    margin-bottom: 4rem;
    background-color: #5C88C4;
    color: black ;
    font-weight: bolder;
    border: 0.2rem solid black;
  }
  
  footer{
    padding: 1rem;
    background-color: #FFBF78;
    color: #282c34;
    font-weight: bolder;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
  }
  
  
  
  .addTodo{
    width: 50vw;
    margin-bottom: 3rem;
    align-items: center;
    justify-content: center;
  }
  
  
  h1{
    margin-bottom: 2.5rem;
    background:hsl(184, 67%, 78%) ;
    padding: 0.5rem;
    border: solid , 0.3rem , black ;
    box-shadow: 0.5rem 0.5rem #FFBF78 ;
    border-radius: 2rem;
  }
  
  .add{
    background-color: hsl(184, 67%, 78%);
    padding: 3rem;
    border-radius: 3rem;
    border: solid , 0.4rem , black;
    box-shadow: 1rem 1rem #FFBF78;
  }
  
  button{
    background: #5C88C4;
    padding: 0.5rem;
    border: solid 0.1rem black;
    color: aliceblue;
    border-radius: 0.4rem;
  }
  
  button:hover{
    background: #3a557b;
    color: aliceblue;
    border: solid , 0.1rem , black;
  }
  
  .noTask{
    font-size: 2rem;
    font-weight: bolder;
    color:   #446797;;
  }
  
  
  .ip{
    border:solid , 0.1rem ,  #333;
  }
  
  h3{
    margin-bottom: 1rem;
  }
  
  
  
  .form-label{
    font-size: 1.5rem;
  }
  
  .btn-add
  {
    margin-right: 2rem ;
  }
  
  .mb-3{
    margin-top: 1rem;
  
  }
  
  .card{
    width: 15rem;
    height: 15rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 2rem;
    border: 0.3rem solid black;
    background: hsl(184, 100%, 88%);
   
    background-color: #5C88C4;
    background: #FFBF78;
    border-radius: 1.5rem;
    color: black;
    padding:0.5rem;
    box-shadow: 10px 10px lightblue;
  }
  
  
  /*buttons for delete and complete*/
  .options{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:70%
  }
  
  .remove{
    background:#FF7D29;
    background: lightblue;
    /*background: #FFBF78;*/
    background-color: #5C88C4;
    color: whitesmoke;
    font-weight: bolder;
    border: 0.1rem , solid ,black;
  
  }
  
  .remove:hover{
    background: #FFBF78;
    color: #C40C0C;
  }
  
  
  .check{
    background-color: #5C88C4;
    color: whitesmoke;
    font-weight: bolder;
    border: 0.1rem , solid ,black;
  }
  
  .check:hover{
    background: #FFBF78; 
    color: darkgreen;
    border: 0.1rem , solid , darkgreen;
  }
  
  
  /*for selection of  importance*/
  .horizontal{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
  
  }
  
  .choice{
    margin-left: 1rem;
    font-weight: bolder;
  }
  
  
  .blank{
    width:1rem;
    margin: 0.2rem;
  }
  
  select{
    border-radius: 0.2rem;
  }
  
  .circle{
   
    background: blue;
    position: relative;
  
  }
  
  .low{
    position: absolute;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    margin-left: 4.5rem;
    background: green;
    border: 0.1rem solid black;
  }
  
  .moderate{
    position: absolute;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    margin-left: 4.5rem;
    background: yellow;
    border: 0.1rem solid black;
  }
  
  
  .high{
    position: absolute;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    margin-left: 4.5rem;
    margin-bottom: 1rem;
    background: red;
    border: 0.1rem solid black;
    z-index: 2;
    margin-top: 0;
  }
  
  .complete{
    display: none;
    
  }
  
  .tasks{
    display: flex;
    width: 50vw;
    justify-content: space-around;
    margin-bottom: 2rem;
  }

  @media (max-width:780px){
    *{
    
      margin: 0;
      padding: 0;
    }
  
    .header{
      display: none;
    }
  
    body{
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      width: 100%;
    }
     
    .horizontal{
      display: flex;
      width: 100%;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      margin-left: 0;
      margin-right: 0;
    }
  
    .horizontal.btn-add{
      padding: 0;
    }
  
    .choice{
      margin-right: 1rem;
    }
    
    .addTask{
      margin-top: 1rem;
      align-self: auto;
      margin-left: 2rem;
    }
  
    .addTodo{
      width:80vw
    }
  
    footer{
      margin-top: 0rem;
    }
  }